def describe_pet(animal_type, pet_name):
"""Display information about a pet"""
print(f"\n I have a pet {animal_type}.")
print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet("Hamster","Harry") # function call

def describe_pet(animal_type, pet_name):
"""Display information about a pet"""
print(f"\n I have a pet {animal_type}.")
print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet("Hamster","Harry") # function call
describe_pet("Dog","Bruno") # Another function call

ORDER MATTERS:
def describe_pet(animal_type, pet_name):
"""Display information about a pet"""
print(f"\n I have a pet {animal_type}.")
print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet("Harry","Hamster") # function call

describe_pet("Bruno") # Positional argument and default values
describe_pet(pet_name = "Bruno") # Keyword argument and default values
describe_pet(animal_type = "Hamster",pet_name = "Harry") # Keyword argument (doesn't matter on order)
describe_pet("Harry","Hamster") # Positional Argument
describe_pet("Hamster",animal_type="Harry") # Positional argument and Keyword argument
describe_pet(pet_name = "Harry",animal_type = "Hamster") # Keyword argument

MODIFYING LIST:
def greet_and_store(names, greeted_names):
# Greet each user and move them to greeted_names list
while names:
name = names.pop(0) # Remove from original list (from front)
print(f"Hello, {name}")
greeted_names.append(name) # Add to greeted list
# Original list of names
names = ['Hari', 'Sathish', 'Aru', 'Vasanth']
greeted_names = []
# Call the function
greet_and_store(names, greeted_names)
# Display greeted users
print("\nGreeted users:")
print(greeted_names)

ARBITARY
def build_profile(first, last, **user_info):
# positional and keyword arguments returning a dict
user_info['first_name'] = first
user_info['last_name'] = last
return user_info
user_profile = build_profile('albert','einstein',location='princeton',field='physics')
print(user_profile)

IMPORT ALL FUNCTIONS:
from pizza import * # Imports all functions from pizza module
make_pizza(12, "sweet corn")
make_pizza(16, "pepperoni", "olives", "cheese")
